/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// CLAIRS

process {
    withName: 'FIX_VCFHEADER_CLAIRS' {
        ext.prefix       = { "${meta.id}.clairs" }
        ext.when         = { params.tools && params.tools.split(',').contains('clairs') }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/clairs/${meta.patient}" },
            pattern: "*no"
        ]
    }
    withName: 'MERGE_VCFS_PAIRED_CLAIRS|MERGE_VCFS_TUMOR_GERMLINE_CLAIRS|MERGE_VCFS_TUMOR_PILEUP_CLAIRS' {
        ext.prefix       = { "${meta.id}.clairs" }
        ext.when         = { params.tools && params.tools.split(',').contains('clairs') }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/clairs/${meta.patient}" },
            pattern: "*{vcf.gz,vcf.gz,.tbi,vcf}"
        ]
    }

    withName: 'MERGE_VCFS_NORMAL_GERMLINE_CLAIRS|MERGE_VCFS_NORMAL_PILEUP_CLAIRS' {
        ext.prefix       = { "${meta.id}.clairs" }
        ext.when         = { params.tools && params.tools.split(',').contains('clairs') }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/clairs/${meta.normal_id}" },
            pattern: "*{vcf.gz,vcf.gz,.tbi,vcf}"
        ]
    }


    withName: 'CLAIRS_PAIRED_REST|CLAIRS_PAIRED_FIRST' {
        ext.prefix       = { meta.num_intervals <= 1 ? "${meta.id}.clairs" : "${meta.id}.clairs.${intervals.simpleName}" }
        ext.when         = { params.tools && params.tools.split(',').contains('clairs') }
        ext.args         = {"--platform ont_r10_guppy --print_germline_calls"}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling" },
            pattern: "*",
            saveAs: { meta.num_intervals > 1 ? null : "clairs/${meta.patient}/${it}" }
        ]
    }
}
